* {
  font-family: "Roboto", "sans-serif";
}
/*navbar*/
.navbar {
  background-color: #0a2233;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  height: 60px;
  width: auto;
}
.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo-container span {
  color: white;
}
.links {
  list-style: none;
  display: flex;
}
.links li {
  margin-right: 25px;
  cursor: pointer;
  color: white;
}
.links li:hover {
  color: #a218d9;
}
.wallet-container {
  display: flex;
}
.wallet {
  align-items: center;
  display: flex;
}
.balance {
  color: white;
  font-size: 16px;
  margin-left: 8px;
  font-weight: bold;
}
.connect-btn {
  margin-left: 20px;
  padding: 12px;
  background-color: #a218d9;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
.connect-btn:hover {
  background-color: #530b70;
}
/*dashboard*/
.dashboard {
  background-image: url("https://wallpaperaccess.com/full/3861110.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}
.title-section {
  margin-top: 0;
  padding-top: 150px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.big-title {
  display: block;
  font-size: 42px;
  font-weight: bold;
  color: white;
}
.special {
  color: #a218d9;
  font-weight: bold;
}
.smaller-title {
  display: block;
  margin-top: 20px;
  font-size: 22px;
  color: white;
}
.dashboard-grid {
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-evenly;
  row-gap: 80px;
}
.CampaignCard-container {
  height: 200px;
  position: relative;
  border-radius: 8px;
  padding: 20px;
  background-color: white;
  transition: 1.2s ease;
}
.CampaignCard-container:hover {
  transform: translateY(-20px);
}
.card-img {
  height: 150px;
  width: 150px;
  margin-right: 16px;
}
.card-info {
  display: flex;
  align-items: center;
}
.card-title {
  font-size: 20px;
  color: #a218d9;
  font-weight: bold;
}
.card-descp {
  max-width: 300px;
}
.country {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.card-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #a218d9;
  width: 100px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px;
  color: white;
}
.card-btn:hover {
  background-color: #530b70;
}
.campaign {
  background-image: url("https://wallpaperaccess.com/full/3861110.jpg");
  padding-top: 100px;
  height: 100vh;
  font-size: 18px;
}
.campaign-container {
  display: flex;
  justify-content: center;
  color: white;
}
.campaign-website {
  display: block;
  margin-top: 15px;
  color: #a218d9;
}
.campaign-website a {
  text-decoration: none;
  color: white;
}
.campaign-country {
  display: block;
  margin-top: 15px;
}
.campaign-image {
  width: 600px;
  height: 400px;
}
.campaign-info {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}
.campaign-title {
  color: #a218d9;
  font-size: 24px;
}
.campaign-descp {
  max-width: 400px;
}
.invest-info {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.info {
  color: #a218d9;
  font-weight: bold;
}
.value {
  margin-top: 10px;
}
.invest-btn {
  margin-top: 60px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #a218d9;
  width: 300px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: white;
  padding: 12px;
  align-self: center;
}
.invest-btn:hover {
  background-color: #530b70;
}
.campaign-about {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  color: white;
}
.campaign-about p {
  max-width: 1100px;
  line-height: 25px;
}
.formContainer {
  background-image: url("https://wallpaperaccess.com/full/3861110.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-top: 140px;
  padding-bottom: 40px;
}
.form-title {
  display: block;
  margin-left: 250px;
  color: #fff;
  font-size: 32px;
}
.form {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 250px;
}
.form-label {
  width: 350px;
  color: #a218d9;
  font-size: 22px;
  margin-right: 20px;
  margin-bottom: 30px;
  font-weight: bold;
}
.input {
  border-radius: 4px;
  width: 300px;
  height: 20px;
  padding: 8px;
  margin-top: 5px;
  font-size: 18px;
}
.flex {
  display: flex;
}
.textarea {
  padding: 8px;
  margin-top: 5px;
  width: 400px;
  height: 150px;
  font-size: 18px;
}
.submitBtn {
  margin-top: 15px;
  border-radius: 8px;
  width: 100px;
  cursor: pointer;
  background-color: #a218d9;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 12px;
}
.submitBtn:hover {
  background-color: #530b70;
}
.footer {
  display: flex;
  height: 60px;
  background-color: #0a2233;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.footer img {
  height: 40px;
  width: auto;
}
.footer-links {
  width: 100px;
  display: flex;
  justify-content: space-between;
}
.staking {
  background-image: url("https://wallpaperaccess.com/full/3861110.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 40px;
  font-size: 18px;
}
.staking .title {
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.staking-container {
  margin-left: 250px;
}
.card-1 {
  padding: 18px;
  margin-top: 20px;
  width: 334px;
  border-radius: 20px;
  background-color: rgb(21, 62, 103);
  color: white;
}
.card-1 > div {
  margin-bottom: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-1-title {
  margin-right: 12px;
}
.value-staked {
  color: #a218d9;
  font-size: 18px;
  font-weight: bold;
}
.seperator {
  background-color: rgb(39, 92, 138);
}
